Django>=4.2,<6

djangorestframework>=3.14,<4

djangorestframework-simplejwt>=5.3,<6

django-filter>=24.2

Pillow>=10

drf-spectacular>=0.27

django-cors-headers>=4.3

drf-nested-routers>=0.93

psycopg2-binary>=2.9


